h1 {
    border-bottom: 10px double black;
    
    font-family: fantasy;

    font-variant: small-caps;
    
    color: rgb(80, 3, 3);

}

table {
    border-collapse: collapse;

}
th, td {
    border:1px solid grey;
    padding: 10px; 
}