h1 {
    border-bottom: 10px double black;
    /*Kleinbuchstaben als Großbuchstaben darstellen */
    font-variant: small-caps;
    /*Schriftfarbe ändern */
    color: rgb(32, 136, 101);
}
p {
    color: white;
}